<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <footer 
        class="footer-copyright text-center bg-dark py-3 text-white"
        style="position: fixed;height: 80px;width: 100%;bottom: 0; color: white;"
        th:fragment="footer"
    >
        <div>
            <strong>
                Copyright &copy; 2024 | Made by <a href="https://www.spring-cat-lab.com">SpringCat's Lab</a> | All Rights Reserved.
            </strong>
        </div>
    </footer>
</body>
</html>